version: 2.1

orbs:
  horizon: artsy/release@volatile
  node: circleci/node@5.3.0
  yarn: artsy/yarn@6.5.0

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_main: &only_main
  context: hokusai
  filters:
    branches:
      only: main

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

only_development: &only_development
  filters:
    branches:
      ignore:
        - staging
        - release
        - main

commands:
  yarn_install:
    steps:
      - yarn/load_dependencies
      - yarn/install
      - yarn/save_dependencies

workflows:
  default:
    jobs:
      - node/test:
          <<: *not_staging_or_release
          name: test-jest
          pkg-manager: yarn
          test-results-for: jest
          version: "18.15"

      - node/run:
          <<: *not_staging_or_release
          name: type-check
          pkg-manager: yarn
          yarn-run: type-check

      - node/run:
          <<: *only_main
          name: deploy-cloudflare-workers-staging
          context: cloudflare
          pkg-manager: yarn
          yarn-run: deploy-cloudflare-workers:staging
          requires:
            - type-check
            - test-jest

      # release
      - node/run:
          <<: *only_release
          name: deploy-cloudflare-workers
          context: cloudflare
          pkg-manager: yarn
          yarn-run: deploy-cloudflare-workers
          requires:
            - type-check
            - test-jest
